# version fix
PyYAML==5.4
python-dateutil==2.6.0
matplotlib~=3.3.4
# TensorFlowTTS
TensorFlowTTS @ git+https://github.com/TensorSpeech/TensorFlowTTS.git@136877136355c82d7ba474ceb7a8f133bd84767e
numpy~=1.21.5
# neon
neon-utils~=0.5
ovos-plugin-manager~=0.0.2